# .ebextensions 작성
# Docker 없이 단일 플랫폼으로 Elastic Beanstalk에 배포를 할 경우,
# 배포 대상이 되는 파일을 EB가 생성할 EC2의 어디에 위치할지 알려줘야 한다
# 이를 포함해 EB에게 추가적인 설정을 해주는
# 파일이 모인 폴더를 .ebextensions라고 부른다.
# .ebextensions도 root에서 생성해준다.
# 단, 우리는 deb용 EB에 배포를 할 것이니
# dev용 eb 설정 폴더라는 것을 명시한다.

# 00-makeFiles.config
# 앞에 00이 붙는데 이것은 EB에서 EC2를 만들고 WAS를 설치할 때
# 00, 01, 02 이렇게 숫자의 순서를 보고 차례대로 적용하기 때문에 붙이는 것이다
# 00 이후에 시간에 대한 설정(01-set-timezone.config)이
# 01로 위치하는 것을 확인할 수 있다.

files:
    "/sbin/appstart":
        mode: "000755"
        owner: webapp
        group: webapp
        content: |
            #!/usr/bin/env bash
            JAR_PATH=/var/app/current/application.jar

            # run app
            killalljava
            java -Dfile.encoding=UTF-8 -jar $JAR_PATH